<button class="btn btn-primary mt-3 mb-2" routerLink="/todo-form">
Ajouter une tache
</button>
<app-select label="Recherche" [(user)]="todoService.search"
firstOptionLabel="Select Label" (change)="todoService.filterTask()" ></app-select>
<table class="table table-stripped">
  <thead>
    <th>Status</th>
    <th>Task</th>
    <th>User</th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let task of todoService.todoList|async; let i = index">
    <td>
      <input type="checkbox" [checked]="task.taskStatus" />
    </td>
    <td>
    {{
            task.taskName
        
    }}
    </td>
    <td>
        {{
            task.user
        
    }}
    </td>
    <td>
        <button (click)="todoService.deleteTask(task.id)" class="btn btn-danger btn-sm">X</button>
        <button class="btn btn-danger btn-sm mx-1" (click)="taskEdit(task)">Update</button>
    </td>
    
</tr>
  </tbody>
</table>
