<div class="mt-3">
    <form #taskForm="ngForm" (ngSubmit) = "validateForm(taskForm)">
        
        <div class="mb-2">
            <label class="form-label" >Task</label>
            <input type="text" class="form-control"
            ngModel name="taskName" required minlength="4" >
            
        </div> 
         
        <!-- <app-select [(user)]="todo.user"></app-select> -->
        <div class="mb-2 form-check">
            <label class="form-check-label" >Status</label>
            <input type="checkbox" class="form-check-input"
            ngModel name="taskStatus">
            
        </div>
        <button  (click)="validateForm(taskForm)" class="btn btn-primary" >Valider</button>
    </form>
</div>